<h1>@song.title</h1>

<h1>Songs</h1>



Title: <%= @song.title %>
Artist: <%= @song.artist_name %>
Genre: <%= @song.genre_name %>
<p>Notes:  <%= @song.notes.each do |n| %>
              <%= n.content %><br>
           <% end %>
</p>